################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DM2122_COMG/v16/ipch/AutoPCH/acec84af05753888/ASSIGNMENT2.ipch
