################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DM2122_COMG/v16/ipch/AutoPCH/acec84af05753888/ASSIGNMENT2.ipch
/.vs/DM2122_COMG/v16/ipch/AutoPCH/7233dd4b51a3c227/APPLICATION.ipch
/.vs/DM2122_COMG/v16/Browse.VC.db
/.vs/DM2122_COMG/v16/Browse.VC.db-shm
/.vs/DM2122_COMG/v16/Solution.VC.db-wal
/.vs/DM2122_COMG/v16/Solution.VC.db-shm
/.vs/DM2122_COMG/v16/Solution.VC.db
/.vs/DM2122_COMG/v16/Browse.VC.opendb
/.vs/DM2122_COMG/v16/Browse.VC.db-wal
/.vs/SP2/v16/.suo
/.vs/SP2/v16/Browse.VC.db
/.vs
